@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Larek Catalogue</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Добро пожаловать на сайт Larek Catalogue</h2>
        <p>
            Здесь вы можете заказать
            себе товары из ассортимента
            нашего ларька.
        </p>
    </div>
</div>
